asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
Django==5.1
django-allauth==65.0.2
django-extensions==3.2.3
facebook-sdk==3.1.0
favicon==0.7.0
idna==3.10
pycparser==2.22
PyJWT==2.9.0
python-decouple==3.8
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.1
urllib3==2.2.3
whitenoise==6.8.1
