{% extends 'base_logged_in.html' %}
{% load static %}

{% block title %}Change Password - Keeplinker{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block page_content %}
<div class="profile-container">
    <h1 class="profile-title">Change Your Password</h1>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" class="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="form-group">
            <label for="{{ form.old_password.id_for_label }}">Old Password</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <p class="error">{{ form.old_password.errors }}</p>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">New Password</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <p class="error">{{ form.new_password1.errors }}</p>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <p class="error">{{ form.new_password2.errors }}</p>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>

<img src="{% static 'main/img/left_linker.svg' %}" alt="Left Linker" class="linker left">
<img src="{% static 'main/img/right_linker.svg' %}" alt="Right Linker" class="linker right">
{% endblock %}